<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StoreSettings" value="DefaultEndpointsProtocol=https;AccountName=perunetdev;AccountKey=fo07GEysb8TAgVl69owZAFyO1SOD5dYB4Gde6nsHXzXtaSKzc4U//WBWRBrbGtJ1JnSTR1CKv50rszsL5cbB1A==;EndpointSuffix=core.windows.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>